.product-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
}

.img-box {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #4caf50;
  margin-bottom: 15px;
}

.product-card button {
  padding: 10px 22px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.product-card button:hover {
  background: #43a047;
}
